:root {
    --main-red: #EC362D;
    --background-gray: #E5E5E5;
    --background-gray-light: #FAFAFA;
    --red-input-error: #FFE9E9;
    --create-quizz-message-box-text: #B9B9B9;
    --create-quizz-message-box-border: #D4D4D4;
    --input-text: #BABABA;
    --input-border: #D1D1D1;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100vw;
    height: 69px;
    background-color: #ec362d;
    padding-top: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    color: white;
    font-weight: 700;
    text-align: center;
}


.noQuizzes {
    margin-top: 77px;
    margin-bottom: 77px;
    width: 1051px;
    height: 181px;
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noQuizzesText {
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #b9b9b9;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
}

.noQuizzesButton {
    width: 151px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ec362d;
    font-weight: 400;
    /* text-align: center;   */
    border: 1px dashed #ec362d;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.yourQuizz {
    margin-right: 15px;
}

.yourQuizzesMenu {
    display: flex;
}

.yourQuizzes {
    margin-top: 70px;
    margin-bottom: 50px;
}

.yourQuizzesHeader {
    display: flex;
    margin-bottom: 15px;
}

.yourQuizzesHeaderButton {
    font-size: 25px;
    font-weight: bold;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ec362d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yourQuizzesTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-right: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yourQuizzImg {
    box-shadow: inset 0 0 10px white;
    width: 340px;
    height: 181px;
    cursor: pointer;
}

.yourQuizzImg img {
    /* box-shadow: inset 20px 20px 10px black; */
    /* box-shadow: inset 5em 1em gold; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.youQuizz {
    box-shadow: inset 8px 8px 10px black;
}

.yourQuizzImg {
    position: relative;
}

.yourQuizzTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: white;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: 17px;
    bottom: 17px;
}

.shadow {
    position: absolute;
    /* box-shadow: inset 0 -40px 30px black; */
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6418767336035978) 40%, rgba(0, 0, 0, 0) 72%, rgba(255, 255, 255, 0) 100%);

}

.quizzImg {
    position: relative;
    cursor: pointer;
}

.quizzImg {
    width: 340px;
    height: 181px;
}

.quizzImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.quizzTitle {
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: white;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    color: white;
    left: 18px;
    bottom: 18px;
}

.quizz {
    margin-right: 15px;
    margin-bottom: 12px;
}

.allQuizzesMenu {
    display: flex;
    flex-wrap: wrap;
    width: 1070px;
}

.allQuizzesHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-bottom: 12px;
}

.hide {
    display: none;
}