/* .main-screen-3 header p {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: white;
    position: fixed;
    top: 13px;
    left: calc(-88px + 50%);
    z-index: 10;
} */
body{
    width: 100%;
}
.main-screen-3 header {
    width: 100%;
    background-color: var(--main-red);
    height: 69px;
    text-justify: center;
    /* padding-top: 13px; */
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
}

.main-screen-3  header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: white;
    position: fixed;
    top: 13px;
    left: calc(-88px + 50%);
    z-index: 10;
}

.main-screen-3 .paginainicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.main-screen-3 .frase {
    width: 224px;
    height: 27px;
    margin-top: 140px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.main-screen-3 .container-informacoes {
    width: 600px;
    height: 256px;
    margin-top: 194px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-screen-3 .container-informacoes input {
    height: 46px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 564px;
}

.main-screen-3 .paginainicial button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF5F4;
}

.main-screen-3 .segundapagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.main-screen-3 .terceirapagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.main-screen-3 .questions .question,
.main-screen-3 .levels .level {
    height: 74px;
    overflow: hidden;
    text-align: start;
    padding-top: 0;
    margin-bottom: 24px;
}

.main-screen-3 .questions .question p,
.main-screen-3 .levels .level p {
    margin-left: 17px;
    margin-bottom: 27px;
    margin-top: 27px;
    font-size: 20px;
    font-weight: 700;
}

.main-screen-3 .question.selected {
    height: 825px;
}

.main-screen-3 .question.selected p,
.main-screen-3 .level.selected p {
    margin-bottom: 12px;
}

.main-screen-3 .titulo {
    display: flex;
    justify-content: space-between;
}

.main-screen-3 .quartapagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-screen-3 .segundapagina button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF5F4;
}

.main-screen-3 .terceirapagina button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF5F4;
}

.main-screen-3 .quartapagina button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF5F4;
}

.main-screen-3 .quizz {
    width: 500px;
    height: 266px;
}

.main-screen-3 .hide {
    display: none;
    position: absolute;
}