/* .main-screen-3 header p {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: white;
    position: fixed;
    top: 13px;
    left: calc(-88px + 50%);
    z-index: 10;
} */
body {
    width: 100%;
}

.titleQuestion32 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-left: 17px;
}

.rightAnswerBox32 {
    margin-top: 28px;
    margin-left: 17px;
    margin-bottom: 28px;
}

.wrongAnswerBox32 {
    margin-top: 28px;
    margin-left: 17px;
    margin-bottom: 28px;
}

.question-title {
    height: 46px;
    width: 564px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: #000000;
    margin-top: 13px;
    padding-left: 24px;
}

/* .inputs32 input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color: #BABABA; 
} */

.questionBox32 {
    padding-top: 27px;
    margin-top: 27px;
    /* margin-left: 17px; */
}

.inputsQuestion32{
    margin-left: 17px;    
}

.openQuestionBox32 {

    width: 600px;
    height: 825px;
    background-color: #ffffff;
}

.wrongQuestion32 {
    /* margin-top: 15px; */
    margin-bottom: 27px;
}

.header32 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
    margin-top: 132px;
    margin-bottom: 36px;
}

.closeQuestionBox32 {
    margin-top: 25px;
    width: 601px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.button32 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: white;
    width: 353px;
    height: 54px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    margin-top: 81px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 81px;
    margin-bottom: 100px;
}

/* .titleSection32 {
    
} */

.icon32 {
    margin-right: 25px;
}

.icon32 {
    font-size: 30px;
}

.main-screen-3 header {
    width: 100%;
    background-color: var(--main-red);
    height: 69px;
    text-justify: center;
    /* padding-top: 13px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.main-screen-3 header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: white;
    position: fixed;
    top: 13px;
    left: calc(-88px + 50%);
    z-index: 10;
}

.main-screen-3 .paginainicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.main-screen-3 .frase {
    /* width: 224px; */
    height: 27px;
    margin-top: 140px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 36px;
}

.main-screen-3 .container-informacoes {
    width: 600px;
    height: 256px;
    margin-top: 194px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-screen-3 .container-informacoes input {
    height: 46px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 564px;
}

.main-screen-3 .paginainicial button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    margin-bottom: 100px;
    color: #FFF5F4;
}

.main-screen-3 .segundapagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.main-screen-3 .terceirapagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.main-screen-3 .questions .question,
.main-screen-3 .levels .level {
    height: 74px;
    overflow: hidden;
    text-align: start;
    padding-top: 0;
    margin-bottom: 24px;
}

.main-screen-3 .question p,
.main-screen-3 .level p {
    margin-top: 28px;
    margin-left: 17px;
    margin-bottom: 28px;
}

.main-screen-3 .selected {
    height: 825px;
}

.main-screen-3 .question.selected p,
.main-screen-3 .level.selected p {
    margin-bottom: 12px;
}

.main-screen-3 .titulo p,
.main-screen-3 .question p {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-left: 17px;
}

.main-screen-3 .quartapagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-screen-3 .segundapagina button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF5F4;
}

.main-screen-3 .terceirapagina button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;

    color: #FFF5F4;
}

.main-screen-3 .quartapagina button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF5F4;
}

.main-screen-3 .quizz {
    width: 500px;
    height: 266px;
}

.main-screen-3 .hide {
    display: none;
    position: absolute;
}

.main-screen-3 .sucess {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
}

.main-screen-3 .quizz .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 8px;
}

.main-screen-3 .question,
.main-screen-3 .level {
    width: 600px;
    height: 825px;
    background-color: #ffffff;
    margin-top: 27px;
    margin-left: 17px;
}


.main-screen-3 .question input,
.level input {
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    height: 46px;
    margin: 0px 17px;
    margin-bottom: 9px;
    padding-left: 5px;
    font-size: 19px;
    outline: none;
}

.main-screen-3 .head {
    display: flex;
    justify-content: space-between;
}

.main-screen-3 .header ion-icon {
    margin-top: 27px;
    margin-right: 17px;
    color: #000000;
    font-size: 23px;
}

.main-screen-3 .question.selected ion-icon,
.main-screen-3 .level.selected ion-icon {
    display: none;
}

.main-screen-3 .question-box {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; */
}

.main-screen-3 .level-box {
    width: 100%;
}

.main-screen-3 .question-tile,
.main-screen-3 .question-color,
.main-screen-3 .correct-answer,
.main-screen-3 .question-url-correct,
.main-screen-3 .wrong-answer1,
.main-screen-3 .question-url1,
.main-screen-3 .question-url2,
.main-screen-3 .question-url3,
.main-screen-3 .wrong-answer1,
.main-screen-3 .wrong-answer2,
.main-screen-3 .wrong-answer3,
.main-screen-3 .level-title,
.main-screen-3 .level-min,
.main-screen-3 .level-url,
.main-screen-3 .level-description {
    height: 46px;
    width: 564px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: #000000;
    margin-top: 13px;
    padding-left: 24px;
}





@media (max-width: 375px) {
    .main-screen-3 form {
        width: 100%;
    }

    .levels,
    .sucess,
    .createQuiz.questions,
    .createQuizzPage {
        width: 100%;
        padding: 0;
    }

    .main-screen-3 .button {
        width: 90%;
        margin-top: 29px;
    }

    .main-screen-3 .sucess-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-screen-3 .sucess-box .quizz {
        width: 90%;
        height: 181px;
    }
}